
<div class="d-flex align-items-center justify-content-center min-vh-100 bg-light">
    <div class="d-flex flex-row align-items-center justify-content-center bg-white p-5 shadow-lg w-75" style="border-radius: 20px; border: 5px solid #007bff;">
        <div class="d-none d-md-flex flex-column align-items-center justify-content-center w-50 text-center">
            <div class="col-md-12 mb-3">
                <label for="image" class="form-label text-dark h5 font-weight-medium">Avatar</label>
                <div class="upload-container" *ngIf="!imageSrc" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
                    <img [src]="profile" 
                         alt="Placeholder Avatar" 
                         class="img-avatar img-fluid mb-3" 
                         style="width: 300px; height: 300px; border-radius: 0; margin: 0 auto;">
                    <label for="fileInput" class="upload-label">
                        <i class="fas fa-cloud-upload-alt"></i>
                        {{ 'register.profile' | translate }}
                    </label>
                    <br>
                    <input type="file" id="fileInput" accept="image/*" (change)="getFile($event)" style="display: none;">
                    <button type="button" class="btn btn-outline-primary mt-3" (click)="chooseFile()">
                        <i class="bi bi-upload"></i>  {{ 'register.choose' | translate }}
                    </button>
                </div>
                <div class="uploaded-image" *ngIf="imageSrc">
                    <img [src]="imageSrc" alt="Vista previa de la imagen" class="img-avatar img-fluid" style="width: 300px; height: 300px; border-radius: 0;  margin: 0 auto">
                </div>
                <div *ngIf="imageSrc"> 
                    <button type="button" class="btn btn-outline-primary mt-3" (click)="clearImage()"> {{ 'register.change' | translate }}</button>
                </div>                             
            </div>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center w-50 p-4">
            <div class="text-center mb-4">
                <h2 class="text-dark font-weight-bold"> {{ 'register.title' | translate }}</h2>
                <p class="text-muted"> {{ 'register.instruction' | translate }}</p>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-100">
                <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

                <div class="row">
                    
                    <div class="col-md-6 mb-3">
                        <label for="lastname" class="form-label text-dark h5 font-weight-medium"> {{ 'register.last' | translate }}</label>
                        <input id="lastname" type="text" [placeholder]="'register.last' | translate" formControlName="lastname" class="form-control" style="padding: 0.75rem;">
                        <div style="font-size: smaller; text-align: center">
                            @if(lastname.errors){ @if(lastname.touched){
                            @if(lastname.errors['required']){
                            <span class="p-error" style="color: red;">Este campo es requerido</span>
                            } @if(lastname.errors['minlength']){
                            <span class="p-error" style="color: red;">El campo debe contener al menos 5
                                caracteres</span>
                            } } }
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="firstname" class="form-label text-dark h5 font-weight-medium"> {{ 'register.first' | translate }}</label>
                        <input id="firstname" type="text" [placeholder]="'register.first' | translate" formControlName="firstname" class="form-control" style="padding: 0.75rem;">
                        <div style="font-size: smaller; text-align: center">
                            @if(firstname.errors){ @if(firstname.touched){
                            @if(firstname.errors['required']){
                            <span class="p-error" style="color: red;">Este campo es requerido</span>
                            } @if(firstname.errors['minlength']){
                            <span class="p-error" style="color: red;">El campo debe contener al menos 5
                                caracteres</span>
                            } } }
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="email1" class="form-label text-dark h5 font-weight-medium"> {{ 'register.email' | translate }}</label>
                        <input id="email1" type="email" [placeholder]="'register.email' | translate" formControlName="email" class="form-control" style="padding: 0.75rem;">
                        <div style="font-size: smaller; text-align: center">
                            @if(email.errors){ @if(email.touched){
                            @if(email.errors['required']){
                            <span class="p-error" style="color: red;">Este campo es requerido</span>
                            } @if(email.errors['pattern']){
                            <span class="p-error" style="color: red;">Ingrese un correo electrónico
                                válido</span>
                            } } }
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="password1" class="form-label text-dark h5 font-weight-medium"> {{ 'register.password' | translate }}</label>
                        <input id="password1" type="password" [placeholder]="'register.password' | translate" formControlName="password" class="form-control" style="padding: 0.75rem;">
                        <div style="font-size: smaller; text-align: center">
                            @if(password.errors){ @if(password.touched){
                            @if(password.errors['required']){
                            <span class="p-error" style="color: red;">Este campo es requerido</span>
                            } @if(password.errors['pattern']) {
                                <span class="p-error" style="color: red;">
                                    Por favor, asegúrate de que tu contraseña cumpla con los siguientes criterios:
                                    <ul>
                                        <li>Al menos una letra minúscula.</li>
                                        <li>Al menos una letra mayúscula.</li>
                                        <li>Al menos un dígito numérico.</li>
                                        <li>Al menos un carácter especial como &commat;$!%*?&..</li>
                                    </ul>
                                </span>
                            } } }
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary w-100 py-3 h5" type="submit"> {{ 'register.button' | translate }}</button>
            </form>
        </div>

        <div *ngIf="showAlert" class="fixed inset-0 flex items-center justify-center z-50">
            <app-alert></app-alert>
          </div>
    </div>
</div>



