.card.post-card {
  background-color: #F9F9F9;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  border: none;
  margin: 20px auto;
  margin-left: -120px;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative; 
}

.card.post-card .input-group,
.card.post-card .button-group {
  margin-bottom: -30px; 
}

.text-center {
  text-align: center;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}

.input-group input {
  flex: 1 1 auto;
  min-width: 150px;
  border-radius: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

.input-group input:hover {
  background-color:rgba(231, 231, 231, 0.6);  
  transition: background-color 0.3s ease;
}

.input-group.mb-3 {
  justify-content: flex-start;
}

.profile-image {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.separator{
  width: 100%;
  height: 1px; 
  background-color: #adadad;
  margin: 10px auto;
}

.separator-line {
  width: 85%;
  height: 0.1px;
  background-color: #adadad;
  margin: 5px 0;
  margin-left: 40px;
  margin-top: -20px;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-name {
  margin-left: 10px;
  font-size: 1rem;
  color: #333;
  font-weight: bold;
}

.custom-input {
  margin-top: 10px;
  width: 100%;
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: flex-end; 
  margin-top: 5px;
  margin-left: 70px; 
  position: absolute; 
  bottom: 10px; 
}

.button-group2 {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  top: 440px;
  left: 40px;
  position: absolute;
}


.btn-select-post {
  background: none;
  border: none;
  color: #3C91E6;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 8vw;
  height: 8vw;
  max-width: 40px;
  max-height: 40px;
  padding: 0;
  border-radius: 50%;
  transition: background-color 0.2s ease;
  position: relative;
}

.btn-select-post2 {
  background: none;
  border: none;
  color: #3C91E6;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 8vw;
  height: 8vw;
  max-width: 40px;
  max-height: 40px;
  padding: 0;
  border-radius: 50%;
  transition: background-color 0.2s ease;
  position: relative;
}

.btn-select-post2 i {
  position: relative;
  z-index: 11;
}

.btn-select-post2:hover {
  background-color: rgba(174, 211, 248, 0.6);
}

.btn-select-post:hover {
  background-color: rgba(174, 211, 248, 0.6);
}

/* Tooltip verificar en el 2 icono*/
.tooltip-text {
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  font-size: 0.6rem;
  border-radius: 5px;
  display: none;
}

.btn-select-post:hover .tooltip-text {
  display: block;
}

.btn-primary,
.btn-danger {
  width: 48%;
  padding: 12px;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
}

//BOTON IMAGEN HACERLO RESPONSIVE
.btn-custom-primary {
  background-color: #3C91E6;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  transition: background-color 0.3s ease;
  margin-top: 30px ;
  margin-left: 425px;
  margin-right: 0;
  display: block;
  position: relative;
  top: -15px;
  cursor: pointer; 
}

.btn-custom-primary:hover {
  background-color: #0056b3; 
  color: #fff;
}

.btn-danger {
  color: white;
}

.image-preview-container,
.video-preview-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -20px;
  background-color: #F9F9F9;
  border-radius: 40px;
  padding: 1rem;
}

.image-preview-container img,
.video-preview-container video {
  max-width: 100%;
  height: 400px; 
  object-fit: cover; 
  width: 500px;
  border-radius: 18px !important;
}

/* Boton de eliminar hacerlo responsive*/ 
.btn-circle {
  width: 8vw; 
  height: 8vw;
  max-width: 30px;
  max-height: 30px; 
  background-color: #121212a5;
  color: #dfdfdf;
  border-radius: 50%; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  cursor: pointer; 
  position: relative; 
  left: 427px; 
  top: -66vh; 
  transition: background-color 0.3s ease;
}

.btn-circle:hover {
  background-color: #1212127d; 
}

.btn-circle i {
  font-size: 1vw; 
  color: inherit;
  margin: 0; 
  padding: 0; 
}


/* Toolip de eliminar */
.tooltip-eliminar {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333; 
  color: #fff; 
  padding: 5px 10px; 
  font-size: 0.6rem; 
  border-radius: 5px; 
  display: none; 
  z-index: 10;
}

.btn-tooltip:hover .tooltip-eliminar {
  display: block; 
}

//Boton input
.btn-post {
  background-color: #3C91E6; 
  color: #fff;
  border: none; 
  padding: 10px 20px;
  font-size: 14px; 
  border-radius: 25px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  margin-top: -4px;
  margin-left: 300px;
  margin-right: 0;
  display: block;
  position: relative;
  top: 200px;
}

.btn-post:hover {
  background-color: #0056b3; 
}


.select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Estilización del select */
.select-wrapper select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f8f9fa;
  color: #333;
  font-size: 16px;
  
}

/* Estilización del botón de cierre (X) */
.select-wrapper .btn-close {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #aaa;
  font-size: 20px;
  cursor: pointer;
}

/* Estilización del botón "Seleccionar" */
.btn-submit {
  font-size: 14px;
  padding: 5px 10px;
  margin-top: 15px;
  font-weight: bold;
}

/* Estilos adicionales */
.card {
  padding: 20px;
}

.form-label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 20px;
}

/* Responsive*/
