<form [formGroup]="form" (ngSubmit)="onSubmit()" >
  <h3 class="text-center">Crear Publicación</h3>

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Escribe tu publicación" formControlName="text" style="width: 250px;">
    <input type="text" class="form-control" placeholder="Escribe una etiqueta" formControlName="tag" style="margin-left: 20px; width: 250px;">
  </div>

  <div class="input-group mb-3" style="margin-left: 100px;">
    <button type="button" class="btn btn-transparent" (click)="chooseFile()">Seleccionar Imagen</button>
    <input type="file" id="fileInput" (change)="getFile($event)" style="display: none;">
  </div>

  <!-- Previsualización de imagen seleccionada -->
  <div *ngIf="imageSrc" class="image-preview-container">
    <img [src]="imageSrc" alt="Imagen seleccionada" class="img-fluid rounded">
    <button type="button" class="btn btn-danger" (click)="clearImage()">Limpiar</button>
  </div>

  <button type="submit" class="btn btn-primary" style="margin-left: 150px;">Postear</button>
</form>
