<body>
  <main>
    <app-navar></app-navar>
    <div class="container">
      <!-- Sección izquierda (perfil del usuario) -->
      <section class="left-section">
        <div class="profile">
          <div class="cover-photo">
            <img src="https://plus.unsplash.com/premium_photo-1673177667569-e3321a8d8256?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Zm90byUyMGRlJTIwcG9ydGFkYXxlbnwwfHwwfHx8MA%3D%3D" alt="Foto de Portada">
          </div>
          <div class="profile-info">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwHf5299P7Ub9mEF3y-KBKsF-kwSRJQUKcyQ&s" alt="Foto de Perfil" class="profile-photo">
            <h3 class="name">Joss Balarezo</h3>
            <p class="username">jossbalarezo21</p>
            <div class="stats">
              <span><strong>2022</strong> Seguidores</span>
              <span><strong>590</strong> Seguidos</span>
              <span><strong>30</strong>Publicaciones</span>
            </div>
            <p class="description">
              “No podemos resolver nuestros problemas con el mismo pensamiento que usamos cuando los creamos”. - Albert Einstein
            </p>
          </div>
        </div>
      </section>
  
      <!-- Sección central -->
      <section class="center-section">
        <h2>Historias</h2>
        <p>Contenido principal, como un feed de noticias.</p>
      </section>
  
      <!-- Sección derecha -->
      <section class="right-section">
        <h2>Sugerencias</h2>
        <p>sugerencias de segidores</p>
      </section>
    </div>
  </main>
  
</body>