/* error.component.css */

.error-page {
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}
.error-card {
    border-radius: 20px;
    padding: 0.3rem;
    background: linear-gradient(180deg, rgba(233, 30, 99, 0.4) 10%, rgba(33, 150, 243, 0) 30%);
}
.icon-circle {
    height: 3.2rem;
    width: 3.2rem;
}
