<section id="sidebar">
    <a routerLink="/" class="brand">
        <i class='bx bxs-dish'></i>
        <i class="bi bi-cloud-moon-fill" style="margin-right: 10px;"></i>
        <span class="text">Dream Catcher</span>
    </a>
    <ul class="side-menu top">
        <li>
            <a routerLink="/pages/dashboard" >
                <i class='bx bxs-dashboard'></i>
                <i class="bi bi-house-door-fill" style="margin-right: 10px;"></i>
                <span class="text">Inicio</span>
            </a>
        </li>
        <li style="margin-top: 20px;">
            <a routerLink="/pages/contenent/explorer">
                <i class='bx bxs-cylinder'></i>
                <i class="bi bi-globe-americas" style="margin-right: 10px;"></i>
                <span class="text">Explorar</span>
            </a>
        </li>
        <li style="margin-top: 20px;">
            <a (click)="creator.openModal()" style="cursor:pointer;">
                <i class='bx bxs-group'></i>
                <i class="bi bi-plus-square" style="margin-right: 10px;"></i>
                <span class="text">Crear</span>
            </a>
        </li>
        <app-new-create #creator></app-new-create>
        <li style="margin-top: 20px;">

            <a routerLink="/pages/customer/customer-create">
                <i class='bx bxs-group'></i>
                <i class="bi bi-mailbox-flag" style="margin-right: 10px;"></i>
                <span class="text">Administrador</span>
            </a>
        </li>
        <li style="margin-top: 20px;">

            <a routerLink="/pages/complaint">
                <i class='bx bxs-group'></i>
                <i class="bi bi-search" style="margin-right: 10px;"></i>
                <span class="text">Revisor</span>
            </a>
        </li>
    </ul>
    <ul class="side-menu">
        <li>
            <a (click)="logout()" style="cursor:pointer;">
              <i class='bx bx-log-out-circle'></i>
              <i class="bi bi-escape" style="margin-right: 10px; width:62; height: 62"></i>
              <span class="text">Salir</span>
            </a>
          </li>
    </ul>
</section>