<div class="d-flex align-items-center justify-content-center min-vh-100 bg-light">
    <div class="d-flex flex-column align-items-center justify-content-center bg-white p-5 shadow-lg w-75" style="border-radius: 20px; border: 5px solid #2196F3;">
      <div class="text-center mb-4">
        <span class="text-blue-500 font-bold text-3xl">404</span>
        <h1 class="text-900 font-bold text-3xl lg:text-5xl mb-2">Not Found</h1>
        <i class="bi bi-exclamation-triangle-fill" style="font-size: 3rem; color: #2196F3;"></i>
        <div class="text-600 mb-5">Requested resource is not available.</div>
      </div>
      <a href="/login" class="btn btn-secondary w-100">Back to Home</a>
    </div>
  </div>