<body>
    <div>
        <!-- SIDEBAR -->
        <app-menu></app-menu>
        <!-- SIDEBAR -->
    </div>
    <app-navar></app-navar>
    <!-- CONTENT -->
    <section id="content">
        <!--<app-stories></app-stories> -->
        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1 style="margin-left: 395px; margin-top: 30px">
                        Listado de Quejas
                    </h1>
                </div>
            </div>

            <div class="table-data">
                <div class="order">
                    <table class="table table-bordered table-hover table-striped">
                        <thead class="table-light-gray">
                            <tr class="campos">
                                <th scope="col" class="move-left">Nombre</th>
                                <th scope="col" class="move-left">Apellido</th>
                                <th scope="col" class="move-left">Correo</th>
                                <th scope="col" class="move-left">Solución</th>
                                <th scope="col" class="move-left">Fecha de solución</th>
                                <th scope="col" class="move-left">Número de queja</th>
                                <th scope="col" class="move-left">Estado de cuenta</th>
                                <th scope="col" class="move-left">Responsable</th>
                                <th scope="col" class="move-left">Estado de solución</th>
                                <th scope="col" class="move-left">Editar</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let resolver of resolvers">
                                <td>{{resolver.name}}</td> <!--Trae datos-->
                                <td>{{resolver.last_name}}</td>
                                <td>{{resolver.email}}</td>
                                <td>{{resolver.solution}}</td>
                                <td>{{resolver.date}}</td>
                                <td>{{resolver.complaint_number}}</td>
                                <td>{{resolver.suspended_account}}</td>
                                <td>{{resolver.responsible}}</td>
                                <td>{{resolver.status}}</td>
                                <td>
                                    <button type="button" class="btn btn-warning" (click)="openEditModal(resolver)">
                                        <i class="bi bi-pencil-square icono-grande"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-6" style="margin-top: 30px;margin-left: 520px;">
                        <button type="button" class="btn btn-primary me-2" (click)="navigateToCustomerCreate()">
                            <i class="bi bi-arrow-left-circle icono-grande"></i>
                        </button>
                    </div>
                </div>
            </div>
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->

    <div class="modal" tabindex="-1" role="dialog" [ngClass]="{ 'show': mostrarFormularioModal, 'd-block': mostrarFormularioModal }">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color:rgba(174, 174, 174, 0.993);;">
                <div class="modal-header">
                    <h2 style="color: black; margin-left: 130px;">Editar Estados</h2>
                </div>
                <br>
                <form [formGroup]="form" (ngSubmit)="onSubmit()" style="margin-top: 20px;">
                    <div class="row shadow p-3 mb-5 bg-body-tertiary ">
                        <div class="col-12 mb-3 text-center">
                            <label for="estado" class="form-label">Estado de Cuenta</label>
                            <select id="estado" class="form-control" formControlName="status" onchange="this.style.textAlign='center';">
                                <option value="" disabled selected></option>
                                <option value="En Proceso">En Proceso</option>
                                <option value="Solucionado">Solucionado</option>
                                <option value="Pendiente">Pendiente</option>
                            </select>
                            <div style="font-size: smaller; text-align: center">
                                @if(status.errors){
                                @if(status.touched){
                                @if(status.errors['required']){
                                <span class="p-error">Este campo es requerido</span>
                                } } }
                            </div>
                        </div>
                        <div class="col-12 mb-3 text-center">
                            <label for="aceptado" class="form-label">Cuenta suspendida</label>
                            <select id="aceptado" class="form-control" formControlName="suspended_account" onchange="this.style.textAlign='center';">
                                <option value="" disabled selected></option>
                                <option value="true">Sí</option>
                                <option value="false">No</option>
                            </select>
                            <div style="font-size: smaller; text-align: center">
                                @if(suspended_account.errors){
                                @if(suspended_account.touched){
                                @if(suspended_account.errors['required']){
                                <span class="p-error">Este campo es requerido</span>
                                } } }
                            </div>
                        </div>
                       <div class="col-12" style="margin-top: 30px; display: flex; justify-content:center;">
                        <button type="button" class="btn btn-outline-success" style="width: 100px; height: 40px; margin-right: 10px;" (click)="validataForm()">Enviar</button>
                        <button type="button" class="btn btn-outline-danger" style="width: 100px; height: 40px; margin-left: 10px; margin-top: -1px;" (click)="closeEditModal()">Cerrar</button>
                    </div>
                    </div> 
                </form>
            </div>
        </div>
    </div>
    

    <script src="script.js"></script>
</body>