<div class="d-flex align-items-center justify-content-center min-vh-100 bg-light">
    <div class="d-flex flex-column align-items-center justify-content-center bg-white p-5 shadow-lg w-75" style="border-radius: 20px; border: 5px solid #F79530;">
        <div class="text-center mb-4">
            <div class="d-flex justify-content-center align-items-center bg-orange-500 rounded-circle mb-3" style="width: 3.5rem; height: 3.5rem;">
                <i class="bi bi-lock-fill text-white" style="font-size: 1.5rem;"></i>
            </div>
            <h1 class="text-900 font-bold text-4xl lg:text-5xl mb-2">Access Denied</h1>
            <div class="text-600 mb-5">You do not have the necessary permissions. Please contact admins.</div>
        </div>
        <a href="/dashboard" class="btn btn-primary w-100 py-3 h5" style="background-color: #F79530; border-color: #F79530;">Go to Dashboard</a>
    </div>
</div>
